<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout_web/layout}">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>

<section class="py-5" layout:fragment="main-content">

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <th:block th:each="item : ${products}">

                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img width="450" height="300" style="object-fit: contain" class="card-img-top" th:src="${item.productImage}"  alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <a th:href="@{/product/detail?id={id}(id=${item.id})}"><h5 class="fw-bolder" th:text="${item.productName}"></h5></a>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <th:block th:each="i: ${#numbers.sequence(0, item.rate - 1)}">
                                        <div class="bi-star-fill"></div>
                                    </th:block>
                                </div>
                                <!-- Product price-->
                                <span th:text="${item.price + '.000 vnđ'}"></span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>

            </th:block>

        </div>
    </div>
</section>



</body>
</html>